extends layout 

block content

  h1 #{chocolate.name}

  div
    
    p #{chocolate.desc}

  h2 Details
    
  p Price: #{chocolate.price}
  p Origin: #{chocolate.origin_string} 
  p Category: #{chocolate.category.name}
  if chocolate.stock > 0
    p Stock: #{chocolate.stock}
  else 
    p Out of Stock
    